<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/scripts/angular/angular.js"></script>

	<script type="text/javascript" src="/scripts/pinyin-dict-combo.js"></script>
	<script type="text/javascript" src="/scripts/pinyin.js"></script>

	<script type="text/javascript" src="/scripts/arrayExtends.js"></script>
	<script type="text/javascript" src="/scripts/popDomains.js"></script>

	<script type="text/javascript" src="/app/app.directives.js"></script>
	<script type="text/javascript" src="/app/app.services.js"></script>
    <script type="text/javascript" src="/app/app.services.dataProviders.js"></script>
	<script type="text/javascript" src="/app/app.filters.js"></script>

	<script type="text/javascript" src="../DataProvider/bookMarkProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/closedTabProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/historyProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/mostRecentUseProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/popDomainProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/baiduSuggestionProvider.js"></script>
	<script type="text/javascript" src="../DataProvider/commandProvider.js"></script>

	<script type="text/javascript" src="../dbUtil.js"></script>

	<script type="text/javascript" src="../app.background.js"></script>
</head>
<body ng-app="app.background">
    <div ng-controller="background" ng-csp ng-init="init()"></div>
</body>
</html>
