<!DOCTYPE html>
<html>
  <head>
  <title>QuickNavigator</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/options.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/scripts/angular.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <script src="/scripts/mustache.js"></script>
	<script type="text/javascript" src="/scripts/pinyin-dict-combo.js"></script>
	<script type="text/javascript" src="/scripts/pinyin.js"></script>

	<script type="text/javascript" src="/scripts/arrayExtends.js"></script>
	<script type="text/javascript" src="/scripts/popDomains.js"></script>
	<script type="text/javascript" src="/app/dbUtil.js"></script>

	<script type="text/javascript" src="/app/app.directives.js"></script>
	<script type="text/javascript" src="/app/app.services.js"></script>
    <script type="text/javascript" src="/app/app.services.dataProviders.js"></script>

	<script type="text/javascript" src="/app/DataProvider/bookMarkProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/closedTabProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/closeNavigatorProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/historyProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/mostRecentUseProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/popDomainProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/IPProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/baiduSuggestionProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/iFeelLuckyProvider.js"></script>
	<script type="text/javascript" src="/app/DataProvider/commandProvider.js"></script>

	<script type="text/javascript" src="/app/app.filters.js"></script>

    <script src="/app/app.options.js"></script>
  </head>
  <body ng-app="app.options" ng-controller="options" ng-init="init()" ng-csp>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="padding:0 20px;">
        <span class="brand">QuickNavigator</span>
        <ul class="nav">
            <li class="active"><a href="#">{{Setting}}</a></li>
            <li><a href="https://github.com/qianlifeng/QuickNavigator" target="_blank">{{SourceCode}}</a></li>
        </ul>
        <ul class="nav pull-right">
            <input type="button" class="btn btn-primary" ng-click="save()" value="{{Save}}" />
        </ul>
      </div>
    </div>
    <div style="height:40px;"></div>
    <div class="modal hide fade" id="savedModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{Tip}}</h3>
        </div>
        <div class="modal-body">
            <p>{{SaveSucceed}}</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{Close}}</a>
        </div>
    </div> 
    <div class="container" style="width:1170px;">
    <!-- Docs nav
    ================================================== -->
        <div class="row">
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix">
              <li class="active"><a href="#Hotkey"><i class="icon-chevron-right"></i>{{Hotkey}}</a></li>
              <!--<li><a href="#Disable"><i class="icon-chevron-right"></i>{{Disable}}</a></li>-->
              <li><a href="#Suggestions"><i class="icon-chevron-right"></i>{{Suggestion}}</a></li>
              <li><a href="#DataSource"><i class="icon-chevron-right"></i>{{DataSource}}</a></li>
              <!--<li><a href="#Language"><i class="icon-chevron-right"></i>{{Language}}</a></li>-->
            </ul>
          </div>
          <div class="span9">
            <!-- Hotkey --> 
            <section id="Hotkey">
              <div class="page-header">
                  <h1>{{Hotkey}}</h1>
              </div>
                <div class="page-body well page-end">
                    <fieldset>
                        {{openHotkey}}: <select ng-model="cfg.hotkey" ng-options="c for c in availableHotkey" ></select>
                        <label class="checkbox">
                            {{OverrideDefaultOmniboxHotkey}} <input type="checkbox" ng-model="cfg.overrideDefaultOmniboxHotkey" id="overrideDefaultOmniboxHotkey">
                        </label>
                    </fieldset>
                </div>
            </section>

            <!-- Disable -->
            <!--<section id="Disable">-->
              <!--<div class="page-header">-->
                  <!--<h1>{{Disable}}</h1>-->
                <!--<p>You can disable QuickNavigator</p>-->
              <!--</div>-->
            <!--</section>-->

            <section id="suggestions">
                <div class="page-header">
                    <h1>{{Suggestion}}</h1>
                    <p class="header-description">{{SuggestionDescription}}</p>
                </div>
                <div class="page-body well page-end">
                    <fieldset>
                        {{SuggestionCount}}: <input type="text" id="suggestionsCount" ng-model="cfg.maxResult"/>
                        <div>
                            {{ExcludeSuggestions}}
                            <div  class="form-inline excludeSuggestions">
                                <input type="text" ng-model="newExcludeSuggestions">
                                <input type="button" class="btn btn-primary" ng-click="addExcludeSuggestions()" value="{{AddNewExcludeSuggestions}}" />
                            </div>
                            <table class="table table-hover table-bordered" >
                                <tr ng-repeat="item in cfg.excludeSuggestions">
                                    <td>[[item]]</td>
                                    <td class="removeBtnTd">
                                       <i class="icon-remove" ng-click="removeExcludeSuggestions(item)"></i> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>

            <section id="DataSource">
              <div class="page-header">
                  <h1>{{DataSource}}</h1>
              </div>
                <div class="page-body well page-end datasource">
                    <fieldset>
                        <div ng-repeat="provider in availableProviders">
                            <input type="checkbox" id="[[provider.name]]" ng-model="provider.checked" />
                            <label for="[[provider.name]]">[[provider.name | providerNameWithDescription]]<label>
                        </div>
                    </fieldset>
                </div>
            </section>

            <!-- Language --> 
            <!--<section id="Disable">-->
              <!--<div class="page-header">-->
                  <!--<h1>{{Language}}</h1>-->
                  <!--<p class="header-description">{{LanguageDescription}}</p>-->
              <!--</div>-->
                <!--<div class="page-body well page-end">-->
                    <!--<fieldset>-->
                        <!--{{DisplayLanguage}}:  -->
                        <!--<select id="language">-->
                            <!--<option>{{English}}</option>-->
                            <!--<option>{{Chinese}}</option>-->
                        <!--</select>-->
                    <!--</fieldset>-->
                <!--</div>-->
            <!--</section>-->
          </div>

          <div>
          </div>
      </div>

  </div>
  </body>
</html>
