<div id="quickNavigator-omnibox" ng-csp ng-controller="omnibox" ng-class="showOmnibox" ng-init="init()">
    <div class="omniboxReset omnibox-SearchArea">
        <div class="omniboxReset omnibox-textbox">
            <div class="omniboxReset omnibox-tag" ng-show="tag!=''" data-mode="{{mode}}">{{tag}}</div>
            <div class="omniboxReset omnibox-searchEngine" ng-show="suggestions.length == 0">使用百度搜索</div>
            <div class="omniboxReset omnibox-input">
                <input class="omniboxReset" type="text" ng-keydown="onKeyDown($event)" ng-model="input" ng-Focusme="focus"/>
            </div>
        </div>
    </div>
    <ul class="omniboxReset omnibox-ul">
        <li class="omniboxReset omnibox-li" ng-repeat="item in suggestions" ng-class="{'omnibox-Result-li-selected':item.selected == true}">
            <ng-compile-template item="item" />
        </li>
    </ul>
</div>
