<div id="quickNavigator-omnibox" ng-csp ng-controller="omnibox" ng-class="showOmnibox" ng-init="init()">
    <div class="omniboxReset omnibox-SearchArea">
        <div class="omniboxReset omnibox-textbox">
            <div class="omniboxReset omnibox-tag" ng-show="tag!=''" data-mode="{{mode}}">{{tag}}</div>
            <div class="omniboxReset omnibox-searchEngine" ng-show="suggestions.length == 0">使用百度搜索</div>
            <div class="omniboxReset omnibox-input">
                <input class="omniboxReset" type="text" ng-keydown="onKeyDown($event)" ng-model="input" ng-Focusme="focus"/>
            </div>
        </div>
    </div>
    <ul class="omniboxReset omnibox-ul">
        <li class="omniboxReset omnibox-li" ng-repeat="item in suggestions" ng-class="{'omnibox-Result-li-selected':item.selected == true}">
        <div class="omniboxReset omnibox-suggestions-top">
            <div class="omniboxReset omnibox-suggestions-icon">
                <img class="omniboxReset" ng-src="{{item.url | domainIconUrl}}" ng-imgonerror="images/file.ico">
            </div>
            <a class="omniboxReset omnibox-suggestions-title" ng-click="navigate(false,item.url,item.title,item.providerName)" href="{{item.url}}" ng-bind-html-unsafe="item.title | hightlightSearch:input"></a>
        </div>
        <div class="omniboxReset omnibox-suggestions-bottom">
            <div class="omniboxReset omnibox-suggestions-sourcetype">{{item.providerName | providerName}} {{item.relevancy}}</div>
            <div class="omniboxReset omnibox-suggestions-url" ng-bind-html-unsafe="item.url | hightlightSearch:input"></div>
        </div>
        </li>
    </ul>
</div>
