<div id="quickNavigator-omnibox" class="omniboxReset" ng-csp ng-controller="omnibox" ng-show="showOmnibox" ng-init="init()">
    <div class="omnibox-SearchArea">
        <div class="omnibox-textbox">
            <div class="omnibox-tag" ng-show="tag!=''" data-mode="{{mode}}">{{tag}}</div>
            <div class="omnibox-input">
                <input type="text" ng-keyup="onKeyUp($event)" ng-model="input" ng-Focusme="focus"/>
            </div>
        </div>
    </div>
    <ul>
        <li ng-repeat="item in suggestions" ng-class="{'omnibox-Result-li-selected':item.selected == true}">
        <div class="omnibox-suggestions-top">
            <div class="omnibox-suggestions-icon">
                <img ng-src="{{item.url | domainIconUrl}}" ng-imgonerror="images/file.ico">
            </div>
            <a class="omnibox-suggestions-title" ng-click="navigate(false,item.url,item.title,item.providerName)" href="{{item.url}}" ng-bind-html-unsafe="item.title | hightlightSearch:input"></a>
        </div>
        <div class="omnibox-suggestions-bottom">
            <div class="omnibox-suggestions-sourcetype">{{item.providerName | providerName}} {{item.relevancy}}</div>
            <div class="omnibox-suggestions-url" ng-bind-html-unsafe="item.url | hightlightSearch:input"></div>
        </div>
        </li>
    </ul>
</div>
